<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simon the Game</title>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content-wrapper">
        <h1>Simon the Game</h1>
        <div class="game" id="simon-game">
            <div class="game__buttons-field">
                <div class="game__button-container">
                    <div class="game__button game__button_green" data-button-number="1" @click="clickHandler"></div>
                </div>
                <div class="game__button-container">
                    <div class="game__button game__button_yellow" data-button-number="2" @click="clickHandler"></div>
                </div>
                <div class="game__button-container">
                    <div class="game__button game__button_blue" data-button-number="4" @click="clickHandler"></div>
                </div>
                <div class="game__button-container">
                    <div class="game__button game__button_red" data-button-number="3" @click="clickHandler"></div>
                </div>
            </div>

            <div class="game__controls-container">
                <p>Раунд: {{ round }}</p>

                <button v-if="!gameInProgress" class="game__start-button" @click="startGame">Начать</button>

                <div v-if="!gameInProgress" class="game__difficulty-select-container">
                    <p>Выберите уровень сложности:</p>

                    <label class="game__radio-label">Легкий
                        <input class="game__radio-input" type="radio" v-model="difficultyLevel" value="easy">
                    </label>
                    <label class="game__radio-label">Средний
                        <input class="game__radio-input" type="radio" v-model="difficultyLevel" value="medium">
                    </label>
                    <label class="game__radio-label">Сложный
                        <input class="game__radio-input" type="radio" v-model="difficultyLevel" value="hard">
                    </label>
                </div>

                <p v-if="gameInProgress && (difficultyLevel === 'easy')">Уровень сложности: легкий</p>
                <p v-if="gameInProgress && (difficultyLevel === 'medium')">Уровень сложности: средний</p>
                <p v-if="gameInProgress && (difficultyLevel === 'hard')">Уровень сложности: сложный</p>
            </div>


        </div>

    </div>
    
    <script src="index.js" type="application/javascript"></script>
</body>
</html>