html {
    font-family: 'Open-Sans', sans-serif;
    font-size: 20px;
}

p {
    margin: 10px 0;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game {
    border: 1px solid gray;
    padding: 30px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.game__buttons-field {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 50px 0 0;
}

.game__button-container {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.game__controls-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game__button {
    width: 400px;
    height: 400px;
    cursor: pointer;
    border: 5px solid white;
    box-sizing: border-box;
    position: relative;
    border-radius: 100%;
    transition: 100ms ease;
}

.game__button:hover {
    border: 5px solid black;
}

.game__button_green {
    background-color: #A9DFBF;
}

.game__button_green.game__button_highlighted {
    background-color: #27AE60;
}

.game__button_yellow {
    background-color: #F9E79F;
    right: 200px;
}

.game__button_yellow.game__button_highlighted {
    background-color: #F1C40F;
}

.game__button_red {
    background-color: #F5B7B1;
    bottom: 200px;
    right: 200px;
}

.game__button_red.game__button_highlighted {
    background-color: #E74C3C;
}

.game__button_blue {
    background-color: #AED6F1;
    bottom: 200px;
}

.game__button_blue.game__button_highlighted {
    background-color: #3498DB;
}

.game__start-button {
    cursor: pointer;
    width: 100px;
    height: 40px;
    font-size: inherit;
}

.game__difficulty-select-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 30px 0;
}

.game__radio-label {
    position: relative;
    cursor: pointer;
    padding: 0 0 0 25px;
}

.game__radio-input {
    position: absolute;
    left: 0;
    top: 1px;
    cursor: pointer;
}

@media (max-width: 850px) {
    .game {
        flex-direction: column;
        align-items: center;
    }
    
    .game__buttons-field {
        margin: 0 0 20px 0;
    }
}

@media (max-width: 500px) {
    .game {
        padding: 20px;
    }

    .game__title {
        font-size: 30px;
    }
    
    .game__buttons-field {
        width: 250px;
        height: 250px;
    }
    
    .game__button-container {
        width: 125px;
        height: 125px;
    }
    
    .game__button {
        width: 250px;
        height: 250px;
    }

    .game__button:hover {
        border: 3px solid black;
    }

    .game__button_yellow {
        right: 125px;
    }

    .game__button_red {
        bottom: 125px;
        right: 125px;
    }
 
    .game__button_blue {
        bottom: 125px;
    }
}